/* Styles for the Places section */
.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

/* Styles for each article within the Places section */
.places article {
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
    width: 390px;
}

/* Styles for the name_and_price div within each article */
.places .name_and_price {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Styles for the price_by_night div within each article */
.places .price_by_night {
    align-items: center;
    border: 4px solid #ff5a5f;
    border-radius: 50%;
    color: #ff5a5f;
    display: flex;
    font-size: 30px;
    height: 60px;
    justify-content: center;
    min-width: 60px;
}

/* Styles for the max_guest, number_rooms, and number_bathrooms divs within the information div */
.places .max_guest,
.places .number_rooms,
.places .number_bathrooms {
    width: 100px;
}

/* Styles for the user element */
.places .user {
    margin: 130px auto 20px auto;
}

/* Styles for the amenities and reviews sections */
.places .amenities,
.places .reviews {
    margin-top: 40px;
}

/* Styles for the amenities list */
.places .amenities li {
    display: flex;
    flex-direction: row;
}

/* Styles for the amenities icon and text */
.places .amenities i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
    width: 5%;
}

.places .amenities p {
    margin-top: 20px;
}

/* Styles for the Places section headings */
.places h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0.67em 0 0.67em 0;
    width: 100%;
}

.places h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Styles for the amenities and reviews headings */
.places .amenities h2,
.places .reviews h2 {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: left;
}

.places .reviews h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 20px;
}

footer {
    position: relative;
  }

/* Styles for the information div within each article */
.places article div.information {
    width: 100%;
    height: 80px;
    border: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    display: flex;
    float: left;
    font-size: 12px;
    margin-top: 1%;
}

/* Styles for the max_guest, number_rooms, and number_bathrooms divs within the information div */
div.information div.max_guest,
div.information div.number_rooms,
div.information div.number_bathrooms {
    width: 100px;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 4px auto;
    text-align: center;
    line-height: 3.2em;
}

/* Styles for the max_guest div */
div.information div.max_guest {
    background-image: url(../images/icon_group.png);
}

/* Styles for the number_rooms div */
div.information div.number_rooms {
    background-image: url(../images/icon_bed.png);
}

/* Styles for the number_bathrooms div */
div.information div.number_bathrooms {
    background-image: url(../images/icon_bath.png);
}
