/* Styles for the header element */
header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Styling for the logo image in the header */
.logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    height: 100%;
    width: 142px;
    margin-left: 20px;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
    /* Adjust styles for small screens */
    header {
        height: 50px;
    }

    .logo {
        background-size: 100px;
        margin-left: 10px;
    }
}
