/* Styles for the footer element */
footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
    /* Adjust styles for small screens */
    footer {
        height: 40px;
        line-height: 40px;
    }
}
