/* Styles for the body element */
body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Styles for the container element */
.container {
    max-width: 1000px;
    margin: 30px auto;
    flex: 1 0 auto;
}

/* Styles for shared elements */
body,
.filters h3,
.filters h4,
.places h1,
.places h2,
.places h3,
.places .user,
footer {
    color: #222222;
}

/* Styles for headings */
h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}
