/* Styles for the header element */
header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* The logo is an anchor tag, improve its appearance and keyboard accessibility */
.logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    height: 100%;
    width: 142px;
    margin-left: 20px;
}

/* Improve keyboard accessibility for the logo link */
.logo a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/* Styles for smaller screens */
@media only screen and (max-width: 600px) {
    header {
        height: 50px;
    }

    .logo {
        background-size: 100px;
        margin-left: 10px;
    }
}
