.filters {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative; /* Add position relative to create a containing block for child elements */
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute; /* Position button absolutely within the containing block */
    top: 50%;
    right: 30px;
    transform: translateY(-50%); /* Center vertically */
}

button:hover {
    opacity: 0.9;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    float: left; /* Float left to position side by side */
}

.locations {
    border-right: 1px solid #DDDDDD; /* Add right border for locations div */
}

h3 {
    font-weight: 600;
    margin: 12px 0 5px 45px; /* Add margin for spacing */
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 12px 45px; /* Add margin for spacing */
}
