/* Styles for the Places section */
.places {
    max-width: 1000px;
    margin: 0px auto;
    font-size: 22.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styles for the Places section heading */
.places h1 {
    width: 100%;
    padding-left: 16.5px;
    margin-bottom: 0.75px;
}

/* Styles for each article within the Places section */
.places article {
    width: 430px;
    padding: 10px;
    margin: 15px;
    border: 1.5px solid red;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

/* Styles for the heading within each article */
.places article h2 {
    font-size: 30px;
}
